Source: galliumos-base
Section: admin
Priority: required
Maintainer: Hugh Greenberg <hugh@galliumos.org>
Build-Depends: debhelper (>= 8.0.0),
               dh-systemd
Standards-Version: 3.9.6

Package: galliumos-base
Architecture: all
Essential: yes
Priority: required
Replaces: systemd, network-manager
Depends: ${misc:Depends}, ubuntu-standard
Description: GalliumOS base files
 This package contains base files for GalliumOS
