Source: galliumos-base
Section: admin
Priority: required
Maintainer: Hugh Greenberg <hugh@galliumos.org>
XSBC-Original-Maintainer: Hugh Greenberg <hugh@galliumos.org>
Standards-Version: 3.9.1

Package: galliumos-base
Provides: base
Architecture: any
Essential: yes
Priority: required
Depends: ubuntu-standard, galliumos-desktop, linux-image-4.1.6-galliumos, linux-headers-4.1.6-galliumos, linux-firmware-image-4.1.6-galliumos
Multi-Arch: foreign
Description: Gallium OS base files
 This package contains base files for GalliumOS
