Source: galliumos-base
Section: admin
Priority: required
Maintainer: Hugh Greenberg <hugh@galliumos.org>
Build-Depends: debhelper (>= 8.0.0),
               dh-systemd
Standards-Version: 3.9.6

Package: galliumos-base
Provides: base
Architecture: all
Essential: yes
Priority: required
Depends: ${misc:Depends}, ubuntu-standard, galliumos-desktop
Description: Gallium OS base files
 This package contains base files for GalliumOS
