#!/usr/bin/make -f

package = galliumos-base
build:
	touch build

clean:
	rm -f build
	rm -f `find . -name "*~"`
	rm -rf debian/tmp 

binary-arch: build
	rm -rf debian/tmp
	install -d debian/tmp/DEBIAN
	install -d debian/tmp/etc/apt/skel
	install -d debian/tmp/etc/apt/preferences.d
	install -d debian/tmp/etc/apt/sources.list.d
	install -d debian/tmp/etc/apt/trusted.gpg.d
	install -d debian/tmp/lib/systemd/system
	install -d debian/tmp/usr/bin
	cp -r etc/skel/ debian/tmp/etc/skel
	install -p -m 644 etc/apt/preferences.d/* debian/tmp/etc/apt/preferences.d
	install -p -m 644 etc/apt/sources.list.d/* debian/tmp/etc/apt/sources.list.d
	install -p -m 644 etc/apt/trusted.gpg.d/* debian/tmp/etc/apt/trusted.gpg.d
	install -p -m 644 lib/systemd/system/* debian/tmp/lib/systemd/system
	install -p -m 755 usr/bin/* debian/tmp/usr/bin
	dpkg-gencontrol -pgalliumos-base
	dpkg-deb --build -Zgzip debian/tmp ..

binary: binary-arch

.PHONY: binary binary-arch clean
